__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv/
ENV/
mlruns/
*.log
.git
.gitignore
.vscode
.idea
*.md
!README.md
.DS_Store
data/
*.zip
*.tar.gz
*.ipynb_checkpoints
